
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
  <div class="text-primary">
  <div class="jumbotron">
      <h2>Your monthly weight loss</h2>

      <h3><%= "You've lost " + (dataArray[0].id - dataArray[dataArray.length - 1].id) + " pounds!" %></h3>
     
      </br>

  </div>
</div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>


</body>
</html>